body {
font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
/*font-size: 62.5%;*/
background-color:#FBF7C2;
}

#info
{
position:fixed;
top:3px;
left:3px;
width: 300px;
height: 400px;
/*display:none;*/
background-color:cyan;
}